USE [master]
GO
/****** Object:  Database [EcomDemo]    Script Date: 11-10-2024 13:47:38 ******/
CREATE DATABASE [EcomDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EcomDemo', FILENAME = N'C:\Users\vinay\EcomDemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EcomDemo_log', FILENAME = N'C:\Users\vinay\EcomDemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EcomDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EcomDemo]
GO
USE [EcomDemo]
GO
/****** Object:  Table [dbo].[TBL_CATEGORY_MASTER]    Script Date: 11-10-2024 13:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CATEGORY_MASTER](
	[CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_DESCRIPTION] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PRODUCT_MASTER]    Script Date: 11-10-2024 13:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PRODUCT_MASTER](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](50) NULL,
	[DESCRIPTION] [varchar](100) NULL,
	[CATEGORY_ID] [int] NULL,
	[SUB_CATEGORY_ID] [int] NULL,
	[BRAND] [varchar](50) NULL,
	[SIZE_ID] [int] NULL,
	[COLOR_ID] [int] NULL,
	[MRP] [decimal](18, 2) NULL,
	[PRICE] [decimal](18, 2) NULL,
	[GENDER_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_SUB_CATEGORY_MASTER]    Script Date: 11-10-2024 13:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SUB_CATEGORY_MASTER](
	[SUB_CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUB_CATEGORY_DESCRIPTION] [varchar](50) NULL,
	[CATEGORY_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USER_LOGIN_MASTER]    Script Date: 11-10-2024 13:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USER_LOGIN_MASTER](
	[LOGIN_ID] [int] IDENTITY(1,1) NOT NULL,
	[MOBILE_NO] [varchar](12) NULL,
	[OTP] [varchar](10) NULL,
	[FIRST_NAME] [varchar](50) NULL,
	[LAST_NAME] [varchar](50) NULL,
	[GENDER] [varchar](6) NULL,
	[USER_TYPE] [varchar](2) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_CATEGORY_MASTER] ON 

INSERT [dbo].[TBL_CATEGORY_MASTER] ([CATEGORY_ID], [CATEGORY_DESCRIPTION]) VALUES (1, N'Clothing And Accessories')
INSERT [dbo].[TBL_CATEGORY_MASTER] ([CATEGORY_ID], [CATEGORY_DESCRIPTION]) VALUES (3, N'Winter Wear')
SET IDENTITY_INSERT [dbo].[TBL_CATEGORY_MASTER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_PRODUCT_MASTER] ON 

INSERT [dbo].[TBL_PRODUCT_MASTER] ([PRODUCT_ID], [TITLE], [DESCRIPTION], [CATEGORY_ID], [SUB_CATEGORY_ID], [BRAND], [SIZE_ID], [COLOR_ID], [MRP], [PRICE], [GENDER_ID]) VALUES (7, N'apd', NULL, 5, 2, N'aps', 1, 1, CAST(132.00 AS Decimal(18, 2)), CAST(144.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[TBL_PRODUCT_MASTER] ([PRODUCT_ID], [TITLE], [DESCRIPTION], [CATEGORY_ID], [SUB_CATEGORY_ID], [BRAND], [SIZE_ID], [COLOR_ID], [MRP], [PRICE], [GENDER_ID]) VALUES (8, N'Men Solid Polo Neck Cotton Blend Grey T-Shirt', NULL, 1, 1, N'U.S Polo', 1, 1, CAST(200.00 AS Decimal(18, 2)), CAST(180.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[TBL_PRODUCT_MASTER] ([PRODUCT_ID], [TITLE], [DESCRIPTION], [CATEGORY_ID], [SUB_CATEGORY_ID], [BRAND], [SIZE_ID], [COLOR_ID], [MRP], [PRICE], [GENDER_ID]) VALUES (9, N'Men Tapered Fit Mid Rise Blue Jeans', NULL, 1, 2, N'LEVI''S ', 1, 3, CAST(400.00 AS Decimal(18, 2)), CAST(395.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[TBL_PRODUCT_MASTER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_SUB_CATEGORY_MASTER] ON 

INSERT [dbo].[TBL_SUB_CATEGORY_MASTER] ([SUB_CATEGORY_ID], [SUB_CATEGORY_DESCRIPTION], [CATEGORY_ID]) VALUES (1, N'Men''s T Shirts', 1)
INSERT [dbo].[TBL_SUB_CATEGORY_MASTER] ([SUB_CATEGORY_ID], [SUB_CATEGORY_DESCRIPTION], [CATEGORY_ID]) VALUES (2, N'Men''s Jeans', 1)
INSERT [dbo].[TBL_SUB_CATEGORY_MASTER] ([SUB_CATEGORY_ID], [SUB_CATEGORY_DESCRIPTION], [CATEGORY_ID]) VALUES (3, N'Women''s Sarees', 1)
SET IDENTITY_INSERT [dbo].[TBL_SUB_CATEGORY_MASTER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_USER_LOGIN_MASTER] ON 

INSERT [dbo].[TBL_USER_LOGIN_MASTER] ([LOGIN_ID], [MOBILE_NO], [OTP], [FIRST_NAME], [LAST_NAME], [GENDER], [USER_TYPE]) VALUES (1, N'9834228842', N'3280', NULL, NULL, NULL, N'C')
INSERT [dbo].[TBL_USER_LOGIN_MASTER] ([LOGIN_ID], [MOBILE_NO], [OTP], [FIRST_NAME], [LAST_NAME], [GENDER], [USER_TYPE]) VALUES (3, N'9834228842', N'5527', N'Amar', N'Seller', N'male', N'V')
INSERT [dbo].[TBL_USER_LOGIN_MASTER] ([LOGIN_ID], [MOBILE_NO], [OTP], [FIRST_NAME], [LAST_NAME], [GENDER], [USER_TYPE]) VALUES (1002, N'9766765714', N'6782', NULL, NULL, NULL, N'V')
SET IDENTITY_INSERT [dbo].[TBL_USER_LOGIN_MASTER] OFF
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADD_USER_LOGIN]    Script Date: 11-10-2024 13:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_ADD_USER_LOGIN]  
@MOBILE_NO VARCHAR(12),  
@OTP VARCHAR(10), 
@USER_TYPE VARCHAR(2),
@RowCount INT OUTPUT   
AS  
BEGIN  
 SET NOCOUNT OFF; -- Ensure row counts are returned      
      
    BEGIN TRY      
        BEGIN TRANSACTION;    
			INSERT INTO TBL_USER_LOGIN_MASTER(MOBILE_NO,OTP,USER_TYPE)VALUES(@MOBILE_NO,@OTP,@USER_TYPE)  
    SET @RowCount =  @@rowcount;  
	   COMMIT TRANSACTION;    
  END TRY          
  BEGIN CATCH          
   IF @@TRANCOUNT > 0          
   ROLLBACK TRANSACTION;          
   DECLARE @ERRORTEXT VARCHAR(MAX)='ERROR WHILE PROCESSING DELETE REQUEST.' + ERROR_MESSAGE();            
   ;THROW 50000,@ERRORTEXT,1;          
  END CATCH  
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_USER_INFO]    Script Date: 11-10-2024 13:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_USER_INFO]
    @MOBILE_NO VARCHAR(12),
	@USER_TYPE VARCHAR(10)
AS
BEGIN
    SELECT FIRST_NAME, LAST_NAME, GENDER
    FROM TBL_USER_LOGIN_MASTER
    WHERE MOBILE_NO = @MOBILE_NO AND USER_TYPE = @USER_TYPE
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_OTP]    Script Date: 11-10-2024 13:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_UPDATE_OTP]
    @MOBILE_NO VARCHAR(12),
	@OTP VARCHAR(10),  
	@USER_TYPE VARCHAR(10),
    @RowCount INT OUTPUT   
AS
BEGIN
SET NOCOUNT OFF;
BEGIN TRY      
        BEGIN TRANSACTION;   
			UPDATE TBL_USER_LOGIN_MASTER
			SET OTP = @OTP
			WHERE MOBILE_NO = @MOBILE_NO AND USER_TYPE=@USER_TYPE
			 SET @RowCount =  @@rowcount;  
	COMMIT TRANSACTION;    
  END TRY          
  BEGIN CATCH          
   IF @@TRANCOUNT > 0          
   ROLLBACK TRANSACTION;          
   DECLARE @ERRORTEXT VARCHAR(MAX)='ERROR WHILE PROCESSING UPDATE REQUEST.' + ERROR_MESSAGE();            
   ;THROW 50000,@ERRORTEXT,1;          
  END CATCH  
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_PERSONAL_INFO]    Script Date: 11-10-2024 13:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_UPDATE_PERSONAL_INFO]
    @FirstName VARCHAR(50),
    @LastName VARCHAR(50),
    @Gender VARCHAR(10),
	@mobile VARCHAR(12),
	@UserType VARCHAR(10),
	@RowCount INT OUTPUT  
AS
BEGIN
SET NOCOUNT OFF;
BEGIN TRY      
        BEGIN TRANSACTION;   
			UPDATE TBL_USER_LOGIN_MASTER
			SET FIRST_NAME = @FirstName, 
				LAST_NAME = @LastName, 
				GENDER = @Gender
			WHERE MOBILE_NO = @mobile AND User_Type= @UserType
			 SET @RowCount =  @@rowcount;  
	COMMIT TRANSACTION;    
  END TRY          
  BEGIN CATCH          
   IF @@TRANCOUNT > 0          
   ROLLBACK TRANSACTION;          
   DECLARE @ERRORTEXT VARCHAR(MAX)='ERROR WHILE PROCESSING UPDATE REQUEST.' + ERROR_MESSAGE();            
   ;THROW 50000,@ERRORTEXT,1;          
  END CATCH  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_SUB_CATEGORY]    Script Date: 11-10-2024 13:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete SubCategory
CREATE PROCEDURE [dbo].[SP_DELETE_SUB_CATEGORY]
    @SUB_CATEGORY_ID INT
AS
BEGIN
    DELETE FROM TBL_SUB_CATEGORY_MASTER
    WHERE SUB_CATEGORY_ID = @SUB_CATEGORY_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ALL_SUB_CATEGORIES]    Script Date: 11-10-2024 13:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Select All SubCategories
CREATE PROCEDURE [dbo].[SP_GET_ALL_SUB_CATEGORIES]
AS
BEGIN
    SELECT SCM.SUB_CATEGORY_ID, SCM.SUB_CATEGORY_DESCRIPTION, CM.CATEGORY_DESCRIPTION, SCM.CATEGORY_ID
    FROM TBL_SUB_CATEGORY_MASTER SCM
    INNER JOIN TBL_CATEGORY_MASTER CM ON SCM.CATEGORY_ID = CM.CATEGORY_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_SUB_CATEGORY]    Script Date: 11-10-2024 13:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Insert SubCategory
CREATE PROCEDURE [dbo].[SP_INSERT_SUB_CATEGORY]
    @SUB_CATEGORY_DESCRIPTION VARCHAR(50),
    @CATEGORY_ID INT
AS
BEGIN
    INSERT INTO TBL_SUB_CATEGORY_MASTER (SUB_CATEGORY_DESCRIPTION, CATEGORY_ID)
    VALUES (@SUB_CATEGORY_DESCRIPTION, @CATEGORY_ID)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_SUB_CATEGORY]    Script Date: 11-10-2024 13:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update SubCategory
CREATE PROCEDURE [dbo].[SP_UPDATE_SUB_CATEGORY]
    @SUB_CATEGORY_ID INT,
    @SUB_CATEGORY_DESCRIPTION VARCHAR(50),
    @CATEGORY_ID INT
AS
BEGIN
    UPDATE TBL_SUB_CATEGORY_MASTER
    SET SUB_CATEGORY_DESCRIPTION = @SUB_CATEGORY_DESCRIPTION,
        CATEGORY_ID = @CATEGORY_ID
    WHERE SUB_CATEGORY_ID = @SUB_CATEGORY_ID
END
GO
USE [master]
GO
